
<div class="container">
    <div class="login-signup">
      <div class="row">
        <div class="col-sm-6 nav-tab-holder">
        <ul class="nav nav-tabs row" role="tablist">
          <li role="presentation" class="active col-sm-6"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Investor </a></li>
          <li role="presentation" class="col-sm-6"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Founder</a></li>
        </ul>
      </div>

      </div>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
          <div class="row">

            <div class="col-sm-6 mobile-pull">
              <article role="login">
                <h3 class="text-center"><i class="fa fa-lock"></i>Investor Login</h3>
                      
                  <%= form_for(:session, url: investor_login_path) do |f| %> 
          
                  <div class="form-group">
                    <%= f.email_field :email_address, :placeholder => "Email", class: "form-control" %> 
                  </div>
                  <div class="form-group">
                    <%= f.password_field :password, :placeholder => "Password", class: "form-control"%> 
                  </div>

                  <div class="form-group">
                    <%= f.submit "Log in", class: "btn btn-submit btn-success btn-block" %>
                  </div>

                  <div class="form-group">
                    <%= link_to 'REGISTER', investor_signup_path, class: "btn btn-success btn-block" %>
                  </div>

                    <% end %>

              </article>
            </div>

          </div>
          <!-- end of row -->
        </div>
        <!-- end of home -->

      <div role="tabpanel" class="tab-pane" id="profile">
        <div class="row">

          <div class="col-sm-6 mobile-pull">
            <article role="login">
              <h3 class="text-center"><i class="fa fa-lock"></i>Founder Login</h3>

                <%= form_for(:session, url: founder_login_path) do |f| %> 
                  
                  <div class="form-group">
                    <%= f.email_field :email_address, :placeholder => "Email", class: "form-control" %> 
                  </div>

                  <div class="form-group">
                    <%= f.password_field :password, :placeholder => "Password", class: "form-control"%> 
                  </div>

                  <div class="form-group">
                    <%= f.submit "Log in", class: "btn btn-submit btn-success btn-block" %>
                  </div>

                  <div class="form-group">
                    <%= link_to 'REGISTER', founder_signup_path, class: "btn btn-success btn-block" %>
                  </div>

                    <% end %>

            </article>
          </div>
        </div>
      </div>
  </div>
  </div>