<%= form_for(@founder, :html => { :multipart => true }) do |f| %>
  <% if @founder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@founder.errors.count, "error") %> prohibited this founder from being saved:</h2>

      <ul>
      <% @founder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :company_name %><br>
    <%= f.text_area :company_name %>
  </div>
  <div class="field">
    <%= f.label :email_address %><br>
    <%= f.text_area :email_address %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_area :website %>
  </div>
    <div class="field">
    <%= f.label :location %><br>
    <%= f.text_area :location %>
  </div>
  <div class="field">
    <%= f.label :profile_picture %><br>
    <%= f.cl_image_upload :profile_picture %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :industry %><br>
    <%= f.select :industry, ['Agriculture and Mining', 'Business Services', 'Computer and Electronics','Consumer Services', 'Education', 'Energy and Utilities', 'Financial Services', 'Government', 'Health, Pharmaceuticals, and Biotech', 'Manufacturing', 'Media and Entertainment', 'Non-profit', 'Real Estate and Construction', 'Retail', 'Software and Internet'] %>
  </div>

  <div class="field">
    <%= f.label :capital_required %><br>
    <%= f.text_area :capital_required %>
  </div>
  <div class="field">
    <%= f.label :equity_share %><br>
    <%= f.text_area :equity_share %>
  </div>
  <div class="field">
    <%= label_tag :video %><br>
    <%= file_field_tag :video %>
  </div>
  <div class="field">
    <%= f.label :image_one %><br>
    <%= f.file_field :image_one %>
  </div>
  <div class="field">
    <%= f.label :image_two %><br>
    <%= f.file_field :image_two %>
  </div>
  <div class="field">
    <%= f.label :image_three %><br>
    <%= f.file_field :image_three %>
  </div>
  <div class="field">
    <%= f.label :image_four %><br>
    <%= f.file_field :image_four %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
