<div class="container">
  <div class="login-signup">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        <div class="row">

          <div class="col-sm-6 mobile-pull">
              <article role="login">
                <h3 class="text-center"><i class="fa fa-lock"></i>Update Founder</h3>

                  <%= form_for(:session, url: founder_login_path) do |f| %> 

                <div class="form-group">
                  <%= f.label :profile_picture %><br>
                  <%= f.cl_image_upload :profile_picture %>
                </div>

                <div class="form-group">
                  <%= f.label :industry %><br>
                  <%= f.select :industry, ['Agriculture and Mining', 'Business Services', 'Computer and Electronics','Consumer Services', 'Education', 'Energy and Utilities', 'Financial Services', 'Government', 'Health, Pharmaceuticals, and Biotech', 'Manufacturing', 'Media and Entertainment', 'Non-profit', 'Real Estate and Construction', 'Retail', 'Software and Internet'] %>
                </div>

                  <div class="form-group">
                    <%= f.text_field :name, :placeholder => "Name", class: "form-control" %> 
                  </div>
                  <div class="form-group">
                    <%= f.text_field :company_name, :placeholder => "Company Name", class: "form-control" %> 
                  </div>
                  <div class="form-group">
                    <%= f.text_field :website, :placeholder => "Website", class: "form-control" %> 
                  </div>
                   <div class="form-group">
                    <%= f.text_field :capital_required, :placeholder => "Capital Required", class: "form-control" %> 
                  </div>
                   <div class="form-group">
                    <%= f.text_field :equity_share, :placeholder => "Equity Share", class: "form-control" %> 
                  </div>
        
                  <div class="form-group">
                    <%= f.email_field :email_address, :placeholder => "Email", class: "form-control" %> 
                  </div>
                  <div class="form-group">
                    <%= f.password_field :password, :placeholder => "Password", class: "form-control"%> 
                  </div>
                  <div class="form-group">
                    <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation", class: "form-control"%> 
                  </div>

                  <div class="form-group">
                    <%= link_to 'UPDATE', investor_signup_path, class: "btn btn-success btn-block" %>
                  </div>
                    <% end %>

              </article>
            </div>

          </div>
          <!-- end of row -->
        </div>
        <!-- end of home -->
  </div>
</div>