<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jTinder Touch Slider</title>

</head>
<body>
    <!-- start padding container -->
    <div class="wrap">
        <!-- start jtinder container -->
        <div id="tinderslide">
            <ul>
              <% @founders.each do |founder| %>

                <li class="pane5" data-founder-id="<%= founder.id %>">
                    <div class="img">
                      <img src="<%= founder.profile_picture %>" alt="">
                    </div>
                    <div class="details">
                      <div><%= founder.company_name %></div>
                      <div>About: <%= founder.description %></div>
                      <div>Industry: <%= founder.industry %></div>
                      <div>Capital required: <%= founder.capital_required %></div>
                      <div>Equity share: <%= founder.equity_share %></div>
                      <div>Website: <%= founder.website %></div>
                    </div>

                    <div class="like"></div>
                    <div class="dislike"></div>
                </li>
               
            </ul>
        </div>
        <!-- end jtinder container -->
    </div>
    <!-- end padding container -->

    <!-- jTinder trigger by buttons  -->
    <div class="actions">
        <a href="#" class="dislike"><i></i></a>
        <a href="#" class="like"><i></i></a>
    </div>

    <!-- jTinder status text  -->

    <div id="status"></div>

    
<div class="container">
    <div class="row">
        <ul class="thumbnails">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/320x200" alt="ALT NAME" class="img-responsive" />
                    <div class="caption">
                         <h3><div><%= founder.company_name %></div></h3>
                        <p><div>About: <%= founder.description %></div>
                      <div>Industry: <%= founder.industry %></div>
                      <div>Capital required: <%= founder.capital_required %></div>
                      <div>Equity share: <%= founder.equity_share %></div>
                      <div>Website: <%= founder.website %></div></p>
                    </div>
                </div>
            </div>
 <% end %>
        </ul>
    </div>
</div>


</body>
</html>
  
