<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jTinder Touch Slider</title>

</head>
<body>
    <!-- start padding container -->
    <div class="wrap">
        <!-- start jtinder container -->
        <div id="tinderslide">
            <ul>
              <% @founders.each do |founder| %>

                <li class="pane5" data-founder-id="<%= founder.id %>">
                    <div class="img">
                      <img src="<%= founder.profile_picture %>" alt="">
                    </div>
                    <div class="details">
                      <div><%= founder.company_name %></div>
                      <div>About: <%= founder.description %></div>
                      <div>Industry: <%= founder.industry %></div>
                      <div>Capital required: <%= founder.capital_required %></div>
                      <div>Equity share: <%= founder.equity_share %></div>
                      <div>Website: <%= founder.website %></div>
                    </div>

                    <div class="like"></div>
                    <div class="dislike"></div>
                </li>
                <% end %>
            </ul>
        </div>
        <!-- end jtinder container -->
    </div>
    <!-- end padding container -->

    <!-- jTinder trigger by buttons  -->
    <div class="actions">
        <a href="#" class="dislike"><i></i></a>
        <a href="#" class="like"><i></i></a>
    </div>

    <!-- jTinder status text  -->
    <div id="status"></div>




<p id="notice"><%= notice %></p>

<!-- <h1>Listing Founders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Company name</th>
      <th>Email address</th>
      <th>Password digest</th>
      <th>Website</th>
      <th>Profile picture</th>
      <th>Description</th>
      <th>Industry</th>
      <th>Capital required</th>
      <th>Equity share</th>
      <th>Video</th>
      <th>Image one</th>
      <th>Image two</th>
      <th>Image three</th>
      <th>Image four</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->


</body>
</html>
  
