<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @founder.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @founder.user_id %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @founder.company_name %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @founder.email_address %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @founder.password_digest %>
</p>

<p>
  <strong>Website:</strong>
  <%= @founder.website %>
</p>

<p>
  <strong>Profile picture:</strong>
  <%= @founder.profile_picture %>
</p>

<p>
  <strong>Description:</strong>
  <%= @founder.description %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @founder.industry %>
</p>

<p>
  <strong>Capital required:</strong>
  <%= @founder.capital_required %>
</p>

<p>
  <strong>Equity share:</strong>
  <%= @founder.equity_share %>
</p>

<p>
  <strong>Video:</strong>
  <%= @founder.video %>
</p>

<p>
  <strong>Image one:</strong>
  <%= @founder.image_one %>
</p>

<p>
  <strong>Image two:</strong>
  <%= @founder.image_two %>
</p>

<p>
  <strong>Image three:</strong>
  <%= @founder.image_three %>
</p>

<p>
  <strong>Image four:</strong>
  <%= @founder.image_four %>
</p>

<%= link_to 'Edit', edit_founder_path(@founder) %> |
<%= link_to 'Back', founders_path %>
